@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    
    50% {
      opacity: 0;
    }
    
    100% {
      transform: rotate(360deg);  
    }
}

@keyframes moveinup {
  0% {
    transform: translateY(#{scaleValue(15)});
  }
  
  100% {
    transform: translateY(0);
  }
}