.index {
    min-height: 100vh;

    &__content {}

    &__body {
        padding: 0 #{scaleValue(20)};
        position: relative;
        z-index: 11;
    }

    &__top {
        overflow: hidden;
        position: relative;
        z-index: 30;
    }

    &__headertogglearea {
        background: transparent !important;

        &--toggle {
            width: #{scaleValue(150)};

            &.current {
                color: $primary-color;
                font-weight: 700;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    border-radius: $box-radius;
                    background: $primary-color;
                    bottom: #{scaleValue(-10)};
                    left: 0;
                    height: #{scaleValue(2)};
                    width: #{scaleValue(60)};
                }
            }
        }
    }

    &__headerarea {
        border-radius: none !important;
        border-bottom: $border;
        background: transparent !important;
        font-size: #{scaleValue(12)} !important;

        &.lightblue-background {
            background: rgba($primary-color, 0.1) !important;
        }

        &--menuitem {
            width: #{scaleValue(250)};
            padding-right: #{scaleValue(20)};
            overflow: hidden;

            &.bignum {
                width: #{scaleValue(400)};
            }

            &.smaller {
                width: #{scaleValue(200)} !important;
            }
        }
    }

    &__headerareaitem {}

    &__bottom {
        margin-top: #{scaleValue(20)};
        min-height: #{scaleValue(700)};
    }

    &__header {
        font-size: #{scaleValue(17)};
        font-weight: 500;
    }

    &__rows {
        background: $index-body;
        display: flex;
        padding: #{scaleValue(10)};
        border-radius: #{scaleValue(2)};
        justify-content: space-between;
    }

    &__graphheader {


        &--infos {
            display: flex;
            align-items: center;
        }

        &--info {
            font-size: #{scaleValue(10)};
            display: flex;
            flex-direction: column;
            margin-right: #{scaleValue(40)};

            & label {
                margin-bottom: #{scaleValue(7)};
                color: rgba($neon-pink, .7);
            }

            & span {
                display: inline-block;
            }
        }

        &--btns {
            color: rgba($neon-blue, .5);
            font-size: #{scaleValue(11)};
        }

        &--btn {
            margin-right: #{scaleValue(20)};
            cursor: pointer;

            &.currenttopic {
                font-weight: 700;
                color: rgba($neon-blue, 1);
            }
        }

        &--section {
            padding: #{scaleValue(10)};
            border-bottom: 1px solid rgba($primary-color, .1);
        }
    }

    &__row {
        width: #{scaleValue(350)};
        flex-shrink: 0;

        &.middle {
            width: #{scaleValue(840)};
            //background: red;
            margin: 0 #{scaleValue(4)};
            border-left: $border;
            border-right: $border;
        }
    }

    &__assetprice {
        border-top: $border;
        border-bottom: $border;
        padding: #{scaleValue(12)} 0;
        font-size: #{scaleValue(16)};
        @include flex-align;

        &--span2 {
            display: inline-block;
            margin: 0 #{scaleValue(8)};
        }

        &--span3 {
            font-size: #{scaleValue(13)};
        }
    }

    &__untradable {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: rgba(0, 0, 0, .3);
        z-index: 2000;
    }

    &__flexbalance {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__grapharea {
        height: #{scaleValue(500)};
        width: #{scaleValue(835)};
    }
}